<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
    <style>
      html,
      body
      {
        height: 100%;
      }
      
      h1, body
      {
        margin: 0
      }
      
      #wrap
      {
        height: auto !important;
        min-height: 100%;
        position: relative;
        margin: 0 auto -60px;
      }
    </style>
  </head>
  <body>
    
      
    <div id="wrap">
      <div class="load-app" data-url="header"></div>
      <div class="load-app" data-url="cart-root"></div>
      <div class="load-app" data-url="product-detail-root"></div>
    </div>
    <footer>
      <div class="load-app" data-url="footer-root"></div>
    </footer>
    <script>

      var myVar;
      function loadPage (element) {
         window.myVar = <%- JSON.stringify(parameters) 
         %>;
 
        console.log(JSON.stringify(window.myVar));
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
      
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            element.innerHTML = xmlHttp.responseText;

            /* More info: http://stackoverflow.com/questions/22945884/domparser-appending-script-tags-to-head-body-but-not-executing#22997909 */
            [].forEach.call(element.querySelectorAll('script'), function (nonExecutableScript) {
              
              var script = document.createElement("script");
              script.setAttribute("src", nonExecutableScript.src);
              script.setAttribute("type", "text/javascript");
              //script.setAttribute("param",window.myVar);
              element.appendChild(script);
              nonExecutableScript.parentNode.removeChild(nonExecutableScript);
            });
          }
        };
        xmlHttp.open("GET", element.dataset.url, true);
        xmlHttp.setRequestHeader("param", window.myVar.id);
        console.log(element.dataset.url);
        xmlHttp.send(null);
      }
      document.querySelectorAll('.load-app').forEach(loadPage);
      /*const event = new CustomEvent('productDetail', { detail: window.myVar.id });
      window.dispatchEvent(event);*/
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"
      integrity="sha384-LQJt2WYLVjqR6CtPmZ7RlCwSnRxagESW5PKN9LCewWq4KnCIZIQewStnUJ/KEc+w"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"
      integrity="sha384-s7tOAUHnUBShLPptKaX9Zt4W4KPFr/mQ2TXWbxuY4TRv+7cl9zFzVPcR31MfzphO"
      crossorigin="anonymous"></script>
  </body>
</html>


